body,html {
  padding: 0;
  margin: 0;
}

/* Start Navigation */
nav#menu {
    font-size: 14px;
    background-color: #fff;
    box-shadow: 0 4px 8px #00bdff;
    margin: 0;
    padding: 0 1em;
    position: relative;
    height: 60px;
    overflow: hidden;
}

nav#menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    max-height: 120px;
    position: relative;
}

nav#menu ul li {
    display: inline-block;
}

nav#menu ul li a {
    display: inline-block;
    padding: 0 1vw;
    color: #1c1c1c;
    font-size: calc(14px + .1vw);
    font-weight: 300;
    text-decoration: none;
    letter-spacing: -.1px;
    white-space: nowrap;
    line-height: 60px;
}

nav#menu ul li a:hover {
    border-radius: 10px;
    background-color: rgba(227, 227, 227, 0.90);
}